<div class="d-flex justify-content-end">

  {{!-- Confirm Button: Only for Teacher --}}
  {{!-- {{#if ../user.isTeacher }} --}}
  {{#if user.isTeacher }}
  {{#ifCond appointment.status "pending"}}
  <form action="/users/appointment/{{../appointment.id}}?_method=PUT" method="POST" class="me-2">
    <button type="submit" class="btn btn-secondary btn-sm">Confirm</button>
  </form>
  {{/ifCond}}
  {{#ifCond appointment.status "confirmed"}}
  <form action="/users/appointment/{{../appointment.id}}?_method=PUT" method="POST" class="me-2">
    <button type="submit" class="btn btn-primary btn-sm">Finished</button>
  </form>
  {{/ifCond}}
  {{/if}}

  {{!-- Cancel Button: For both Teacher and Student. And if status is finished, it will be hidden --}}
  {{#ifOrCond appointment.status "pending" "confirmed"}}
  <form action="/users/appointment/{{appointment.id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
  </form>
  {{/ifOrCond}}

</div>