{{!-- Google Login Button --}}
<div>
  <form action="/oauth/login/google" method="GET">
    <button type="submit" class="btn btn-warning">Google Login</button>
  </form>
  <p class="ms-2 fs-5">(If you login with Google, please reset your nation after you login at the first time!)</p>
</div>