{{> messages}}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">IS TEACHER</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">
          {{this.id}}
        </th>
        <td>
          <img src="{{this.avatar}}" class="rounded-circle" alt="User image" width="50" height="50">
          {{this.name}}
        </td>
        <td>
          {{#if this.isTeacher}}
          Teacher
          {{else}}
          Normal User
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{> pagination}}