{{> messages}}

<div class="container mt-5">
  <h1>Edit Your Profile</h1>
  <hr>
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">

    {{> edit-profile}}

    {{!-- Submit Button --}}
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{{!-- Avatar Preview Script --}}
<script src="/javascripts/avatar-preview.js"></script>